body {
    background-color: rgb(213, 213, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

.login-container {
    width: 500px;
    height: 400px;
    background-color: rgb(246, 249, 252);
    border-radius: 10px;
    box-shadow: 0.5px 2px 8px 1px rgb(178, 167, 255);
    padding: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid blue;
    border-top-width: 3px;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: 600;
    color: #000000;
    font-size: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
}

label {
    align-self: flex-start;
    margin-bottom: 3px;
}

label:hover {
    cursor: pointer;
}

input:focus {
    border: 2px solid blue;
}

input::placeholder {
    color: rgb(135, 135, 135);
    font-style: italic;
}

.input-group:focus-within {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.03);
    border-color: blue;
}

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    color: rgb(93, 93, 93);
}

.input-group i {
    margin-right: 6px;
    color: rgb(147,147,147);
    font-size: 1.2rem;
    font-size: 20px;
    margin-left: 5px;
}

p {
    font-size: 13px;
}

a {
    font-size: 13px;
    color:blue;
    text-decoration: none;
}

a:hover {
    color:blueviolet
}

#forgot-password {
    align-self: flex-end;
}

.line-div {
    background-color: gray;
    margin-top: 10px;
    height: 1px;
    color: white;
}

button {
    width: 200px;
    padding: 10px;
    background-color: rgb(59, 59, 255);
    color: white;
    font-family: 'Inter', sans-serif;
    border: 0;
    border-radius: 12px;
    font-size: 17px;
    align-self: center;
    margin-top: 20px;
}

button:hover {
    background-color:rgb(1, 1, 152);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.bi-arrow-right {
    font-size: 20px;
    margin-top: 13px;
}

.footer-text {
    display: flex;
    align-items: center;
    gap: 5px;
}